/* CardItem.css */

.card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
  
}

.card-flex {
  width: 400px;
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sm-padding {
  padding: 0 50px;

}

/* Add any additional styling as needed */
